.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .content {
    margin-left: 0;
  }
}

.delete-todo-icon {
  margin-left: 2em;
  border: hidden;
  background-color: white;
  color: #92d1cd;
  font-size: medium;
}

.delete-todo-icon:hover {
  background-color: #92d1cd;
  color: white;
}
