.register-form-container {
  margin: 2% 25% 2%;
  padding: 1.5rem;
  border: 1px solid #dabe92;
  background-color: #dabe92;
}
.register-input-container {
  margin: 1em 0;
}

.register-field {
  margin: 0.4em;
  width: 100%;
  display: inline-block;
  border: 1px solid #dabe92;
  box-sizing: border-box;
  height: 3em;
  padding: 0.7em;
}

.register-field:hover {
  border: 2px solid #b08c7e;
}

.register-field:focus {
  outline: none !important;
}

.input-error {
  color: orangered;
  font-size: 0.6em;
}

.form-label {
  color: #434b56;
  font-size: 1.3em;
}

.register-submit-btn {
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 1em 0 0 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #434b56;
  border: 1px solid #b08c7e;
}

.register-submit-btn:hover {
  background-color: #b08c7e;
}

.center-element {
  text-align: center;
}

.login-msg {
  text-align: center;
  color: #434b56;
  font-size: 1.3em;
}

.link-login {
  font-family: 'Parisienne', cursive;
  font-size: 1.3em;
  font-weight: bold;
  color: #434b56;
}
.link-login:hover {
  color: #95847b;
}
